{% extends "base_generic.html" %}

{% block content %}
    <p>Welcome to the Not a Mailbox Library Website, developed in conjunction with <em>Mozilla Developer Network</em>!</p>
    <h6>Session id: {{ session_id }}</h6>
    <h2>Our awesome stuff</h2>
    <p>The library has the following record counts:</p>
    <ul>
        <li><strong>Books: </strong>{{ num_books }}</li>
        <li><strong>Copies: </strong>{{ num_instances }}</li>
        <li><strong>Copies Available: </strong>{{ num_instances_available }}</li>
        <li><strong>Authors: </strong>{{ num_authors }}</li>
    </ul>
    <p>You have visited this page {{ num_visits }}{% if num_visits == 1 or num_visits == 0 %} time{% else %} times{% endif %}.</p>
{% endblock %}